.board-columns.hidden, .hidden {
    display: none;
}

section {
    background-color: #b3ffb8;
    margin-bottom: 20px;
}

form {
    float: left;
    clear: right;
    padding-right: 15px;
}

#logged_in {
    padding-right: 15px;
}

.center-items {
    display: flex;
    justify-content: center;
}
.dragged {
    opacity: 0.5;
}
.drop-zones {
    border: 2px solid darkgreen;
}
