.board-columns.hidden, .hidden {
    display: none;
}

section {
    background-color: green;
    margin-bottom: 20px;
}

form {
    float: left;
    clear: right;
    padding-right: 15px;
}

#logged_in {
    padding-right: 15px;
}

.center-items {
    display: flex;
    justify-content: center;
}