{% extends 'layout.html' %}

{% block content %}
    {% if private is false %}
        <h1>Create Board</h1>
        <form action="/create-board" method="post">
    {% else %}
        <h1>Create Private Board</h1>
        <form action="/create-private-board" method="post">
    {% endif %}
        <div class="form-group">
            <label for="title">Enter board title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Board title">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}