{% extends 'layout.html' %}

{% block content %}
    <h1>ProMan</h1>
    <div class="center-items">
    <button id="refresh"><i class="fas fa-sync-alt"></i></button>
    {% if username is none %}
        <form action="/register" method="get"><input type="submit" value="Register"></form>
        <form action="/login" method="get"><input type="submit" value="Login"></form>
    {% else %}
        <span id="logged_in">You are logged in as {{ username }}</span>
        <form action="/logout" method="get"><input type="submit" value="Logout"></form>
    {% endif %}

    <form action="/create-board" method="get"><input type="submit" value="Create new board"></form>
    {% if username is not none %}
        <form action="/create-private-board" method="get"><input type="submit" value="Create new private board"></form>
    {% endif %}
    </div>
    <br>
    <br>
    <div id="boards">Boards are loading...</div>

{% endblock %}