{% extends 'layout.html' %}

{% block content %}

        {% if username is none %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {% else %}
        <span>You are logged in as {{ username }}</span>
        <a href="/logout">Logout</a>
        {% endif %}
        <h1>ProMan</h1>
        <form action="/create-board" method="get"><input type="submit" value="Create new board"></form>
        {% if username is not none %}
        <form action="/create-private-board" method="get"><input type="submit" value="Create new private board"></form>
        {% endif %}
        <div id="boards">Boards are loading...</div>
        <div id="cards">Cards should go here</div>

{% endblock %}